	<div class="row">
		<div class="col-xs-6 col-sm-4"></div>
		<div class="col-xs-6 col-sm-4">
			<form class="form-horizontal" role="form" action="index.php" method="POST" name="loginForm">
			  <div class="form-group">
				<label for="inputLogin3" class="col-sm-2 control-label">Login</label>
				<div class="col-sm-7">
					<input type="text" class="form-control" id="inputLogin3" placeholder="Login" name="login" required>
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">Hasło</label>
				<div class="col-sm-7">
					<input type="password" class="form-control" id="inputPassword3" placeholder="Hasło" name="password" required>
				</div>
			  </div>
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Zaloguj</button>
				</div>
			  </div>
			  <input type="hidden" name="form" value="login"/>
			</form>
		</div>
	</div>